# Ignore node modules everywhere
node_modules/

# Ignore env files
.env
.env.*

# Ignore logs
npm-debug.log*
yarn-debug.log*

# Ignore builds
dist/
build/

# Ignore test coverage reports
coverage/

# Ignore editor settings
.vscode/

# OS files
.DS_Store
Thumbs.db
