.learn-box {
  border-radius: 15px;
  background: #fbfbfb;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.learn-box:hover{
  transform: translateY(-6px);
}