

.impact-image{
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}
.impact-button{
  background-color: rgb(196, 208, 253) !important;
  border: none;
  color: blue;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.impact-button:hover{
  background: linear-gradient(135deg, #2563eb, #7e22ce);
  color: #ffffff;
  transform: translateY(-3px);

}

.impact-text{
  font-family: 'Inter', 'Poppins', sans-serif;
}

@media (max-width: 767px) {
  .impact-text {
    text-align: center !important;
  }

  .orange {
    text-align: center;
    width: 100%;
  }

  .impact-button {
    display: block;
    margin: 1rem auto 0 auto !important;
  }
}

