
.project-card {
  transition: all 0.3s ease, box-shadow 0.3s ease;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image {
  object-fit: cover;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  transition: opacity 0.3s ease;
}

.project-card:hover .project-image {
  opacity: 0.7;
}

.project-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.project-card:hover .project-image-overlay {
  opacity: 1;
}

.project-image-desc {
  color: var(--on-primary-color);
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

@media (min-width: 992px) {
  .project-image {
    height: 250px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .project-image {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .project-image {
    height: 180px;
  }
}

@media (max-width: 576px) {
  .project-image {
    height: 150px;
  }
}

.social-card {
  background: var(--surface-color);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 992px) {
  .row .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .row .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .project-card {
    margin-bottom: 1.5rem;
  }

  .project-image {
    height: 170px;
  }
}
